body.dark {
    background: #0f172a;
    color: #e5e7eb;
}

.card {
    background: #020617;
    border-radius: 12px;
}

.login-box {
    width: 320px;
    margin: 120px auto;
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}
